{% extends "base.html" %}

{% block content %}
<h3>Умный аквариум</h3>
<p>Пока он выглядит так</p>
<img src="static/img/1.jpg" height = "60%" width="60%" alt="изображение грузиься...">
<p> Задумка проекта заключается в сборе всех данных из аквариум таких как температура и кислотность воды
    от которых зачастую рыбы могут умереть. Это мы делаем при помощи ардуинно (микроконтроллер) и датчика
    которых мы подключаем к ней. После сбора информации ардуинка посылает json фалы на сервер на котором
    развернут данный сайт и вы видите это.</p>


{% endblock %}